@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap')

  body{
   margin:0;
   padding:0;
   box-sizing:border-box;
  }
  
  body::-webkit-scrollbar {
   display: none; 
}
  :root{
      --primary-color:#28377e;
      --secondary-color:#f2622c;
      --text-color:#ffffff;
      --text-p:#b0b0b1;
      --button-color:#D94948;
  }
  /* initial setting */
  a{
   text-decoration:none;
  }
  p{
   padding:0;
   margin:0;
  }
  ol,ul{
  padding:0;
  }
  ul li{
   list-style:none;

  }

  h1, h2, h3,h4,h5,h6{
   margin:0;
  }
 

   .home{
      background-image:url("../Photos/elephnat.png");
      background-position:center center;
      background-size:cover;
      background-repeat:no-repeat;
      width:100%;
      height:140vh;
      background-attachment:fixed;
      position:relative;
    
   }
 
   nav ul li a{
    
      color:var(--text-color) !important;
      margin-left:30px;
      font-family: inherit;
      font-size:18px;
      font-weight:400;
      transition:color 0.3s ease;
   }
   nav button{
      background:none !important;
      box-shadow:none !important;
      border:none !important;
     
   }
   nav button i{
      color:#fff !important;
      font-size:22px;
      font-weight:700;
   
   }
   nav ul li a:hover{
    
      color:#E93333 !important;
    
   }
   nav ul li .btn-action{
      background-color:var(--button-color);
      border-radius: 100px;
      width:100%;
      text-align:center;
      padding-top: 16px;
      padding-right: 60px;
      padding-bottom: 16px;
      padding-left: 60px;
      font-family: inherit;
      font-weight: 700;
      line-height: 1em;
      transition:  background-color 0.3s ease;
   }
 

   nav ul li .btn-action:hover{
      background-color:#E93333;
      border:#E93333;
      color:#fff !important;
   }
   .nav-link{
     position:relative; 
   

   }
   .nav-link.active:before{
       content:"";
       position:absolute;
       top:50%;
       left:50%;
       transform:translate(-50%,-50%);
       display:inline-block;
       height:2px;
       margin-top:5px;
       background-color:var(--btn-color);
       opacity:0;
       transition:opacity 0.3s ease-in-out;

   }
   .nav-link.active:hover:before{
       content:"";
       position:absolute;
       top:30px;
       left:20;
       display:block;
       width:50px;
       height:2px;
       background-color:#E93333;
       opacity:1;

   }

 
.hero-content{
   position:relative;
   margin-top:32%;
   left:50%;
   transform:translate(-50%, -50%);
   z-index:90;
}
.hero-content .hero-text h1{
   font-size:4.6rem !important;
   line-height: 1.4em;
   color:var(--text-color);
   text-transform:uppercase;
   font-weight:700;
}
.hero-content .hero-text h4{
   line-height: 1.4em;
   color:var(--text-color);
   font-weight:700;
}

.hero-content .hero-text .btn-action{
   background-color:var(--button-color);
   border:1px solid var(--button-color);
   color:var(--text-color);
   margin-top:50px;
   border-radius: 100px;
   text-align:center;
   padding-top: 16px;
   padding-right: 32px;
   padding-bottom: 16px;
   padding-left: 32px;
   font-weight: 700;
   line-height: 1em;
   transition:background-color 0.3s ease;
}
.hero-content .hero-text .btn-action:hover{
   background-color:#E93333;
   border:#E93333;
  
}


.down-arrow{
   position:absolute;
   bottom:5%;
   left:50%;
   transform:translate(-50%, -50%);
   cursor:pointer;
   animation:upAndDown 1s linear infinite;
   animation-direction: alternate;
}
@keyframes upAndDown {
   0%{
      bottom:0;
   }
   100%{
      bottom:5%;
   }
}
.down-arrow i{
  color:var(--text-color);
  font-size:2rem;
}




.about-us{
   position:relative;
   padding:130px 0;
   text-align:center;
   width:100%;
}
.about-us .about-content h2{
   display:block;
   line-height: 1.2em;
   color:#000;
   text-align:center;
   font-size:2.2766666666667rem;
   font-family: 'Montserrat',sans-serif;
   margin:0 auto;
  
 
}
.about-us .about-content .text-p{
  max-width:800px;
  position:relative;
  margin:0 auto;
}
.about-us .about-content .text-p p{
  letter-spacing:1px; 
  line-height:1.7;
  color:#8e8e8e;
  vertical-align: baseline;
}
.about-us .about-content .text-p p:first-child{
   padding-bottom:26px;
}




.service{
   background-image:url("../Photos/beach.png");
   background-position:center center;
   background-size:cover;
   background-repeat:no-repeat;
   padding:150px 0;
   background-attachment:fixed;
}
.service h2,h3,h4,h5, p{
  color:#fff;
}
.service > h2,h3,h4{
   line-height:1.4;
   padding-bottom:5px;
   font-weight:bold;
}
.service  p{
   line-height:1.7;
}
.service span{
   display: inline-block;
   background-color: #f9f8f8;
   width: 100%;
   height: 1px;
}
.service .right-content{
  padding-left:100px;
}



.project{
   padding:100px 0;
}
.project h4{
   color:#000;
   font-weight:500;
   margin-bottom:5px;
}
.project h2{
   color:#000;
   font-weight:bold;
}
.project .item h4{
  margin-top:10px;
  font-weight:bold;
}
.project .item p{
   color:#8e8e8e;
}




.learn-more{

   padding:50px 0;
}
.learn-more h2{
 margin:0;
 padding:0;
 font-weight:bold;
}

.learn-more .btn-action{

   background-color:var(--button-color);
   border:1px solid var(--button-color);
   color:var(--text-color);
   
   border-radius: 100px;
   width:auto;
   text-align:center;
   padding-top: 16px;
   padding-right: 32px;
   padding-bottom: 16px;
   padding-left: 32px;

   font-weight: 700;
   line-height: 1em;
   transition:background-color 0.3s ease;
}
.learn-more .btn-action:hover{

   background-color:#E93333;
   border:#E93333;
 
}


.footer{
   background-color:#011627;
   padding:50px 0;
}
.footer ul li {
  
   padding-bottom:15px;
}
.footer ul li a {
   color:#fff;
   transition:all 0.3s ease;
 
}
.footer ul li a:hover {
   color:#D94948;
 
}


.backToTop{
   display:flex;
   justify-content:center;
   align-items:center;
   position:fixed;
   right:2%;
   bottom:10%;
   background:#0C1234;
   width:50px;
   height:50px;
   border-radius:50%;
   color:var(--secondary-color);
   cursor:pointer;
 
   transition:all 0.5s ease;

   z-index:200;
}
.backToTop a{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%, -50%);
   animation:backToTop 1s linear infinite;
   animation-direction: alternate;
   color:var(--secondary-color) !important;
  
}

@keyframes backToTop{
   0% {
      transform:translate(-50%,-25%);
  }
  
  100% {
   transform:translate(-50%,-70%);
  }
}


@media (max-width:992px){
   nav{
      z-index:100;
      text-align:center;
   }
   nav ul li .btn-action{
      background-color:var(--button-color) !important;
      color:var(--text-color) !important;
     text-align:center;
     display:inline-block;
     max-width:300px;
      padding:15px 30px;
      font-size:18px;
      font-weight:400;
      transition:color 0.3s ease;
      text-align:center;
      margin-bottom:50px;
      
}

.navbar-nav{
   transform:translateX(-900px);
   transition:transform 1s ease;
   background:#011627 !important;
}

.show .navbar-nav{
   transform:translateX(0);
   transition:transform 1s ease;
   background:#011627 !important;
}



.service .right-content{
   padding-left:0;
 }
 .bottom-btn{
   margin-top:50px;
 }

 .footer-right-text{
   text-align:center !important;
 }
}
@media (max-width:768px){
   nav{
      z-index:100;
      text-align:center;
    
   }
   nav ul li .btn-action{
      background-color:var(--button-color) !important;
      color:var(--text-color) !important;
     text-align:center;
     display:inline-block;
     max-width:280px;
      padding:15px 30px;
      font-size:18px;
      font-weight:400;
      transition:color 0.3s ease;
      text-align:center;
      margin-bottom:50px;
      
}
.hero-container{
   margin-top:300px !important;
}
.service .right-content{
   padding-left:0;
 }
 .bottom-btn{
   margin-top:50px;
 }

 footer{
   text-align:center;
 }
}
@media (max-width:375px){
   nav{
      z-index:100;
      text-align:center;
    
   }
   nav ul li .btn-action{
      background-color:var(--button-color) !important;
      color:var(--text-color) !important;
     text-align:center;
     display:inline-block;
     max-width:300px;
      padding:15px 30px;
      font-size:18px;
      font-weight:400;
      transition:color 0.3s ease;
      text-align:center;
      margin-bottom:50px;
      
}
.hero-container{
   margin-top:300px !important;
}
.service .right-content{
   padding-left:0;
 }
 .bottom-btn{
   margin-top:50px;
 }

 footer{
   text-align:center;
 }
}